{
    "presets": [
        "flow",
        "es2015",
        ["env", {
            "modules": false,
            "loose": true,
            "useBuiltIns": true,
            "targets": {
                "browsers": ["last 3 versions"]
            }
        }]
    ],
    "plugins": [
        "lodash",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-es2015-constants",
        "transform-object-assign",
        "syntax-dynamic-import"
    ]
}