*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: rgba(black, 0.87);
    font-family: $font-stack;
}

:focus {
    outline: 0;
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
    min-height: 100%;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
}


a {
	color: $link-color;
	cursor: pointer;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.nucleus-docs {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}
